%ul.list-post-type
  %li.large-post-type
    %h5.title-item 
      %a(href="#") 450+ Photoshop action For Photo Retouching And Enhancement
    .entry-item
      %p<
        Some description text will be good being placed |
        in here. Magnificent Geometric Snow Art by |
        Simon Beck - Artist Simon Beck must really love |
        the cold weather! Using snow as high textures on |
        his artwork.
    .meta-item
      %span.item-likes 213 Likes
      %a.item-comments(href="#") 8 Comments