%aside.widget.widget_top_rated
  .widget-title
    %h5 Top Rated
  .widget-inner-container

    %ul.cart-list.product-list

      %li
        %a(href="#") 
          %img(src="images/dummy/toprated1.jpg")
          Pallagrino man casual polo shirt
        .star-rating
          %span.star.lit
          %span.star
          %span.star
          %span.star
          %span.star
        %p.price<
          %span.amount $160

      %li
        %a(href="#") 
          %img(src="images/dummy/toprated2.jpg")
          Sport chick in black
        .star-rating
          %span.star.lit
          %span.star.lit
          %span.star.lit
          %span.star
          %span.star
        %p.price<
          %span.amount $129

      %li
        %a(href="#") 
          %img(src="images/dummy/toprated3.jpg")
          Creative Jobs Hiring Resume T-Shirt
        .star-rating
          %span.star.lit
          %span.star.lit
          %span.star
          %span.star
          %span.star
        %p.price<
          From: 
          %del<
            %span.amount $325.85
          %span.amount $175

      %li
        %a(href="#") 
          %img(src="images/dummy/toprated4.jpg")
          It's an sample of long product title for visual mockup
        .star-rating
          %span.star.lit
          %span.star.lit
          %span.star.lit
          %span.star.lit
          %span.star
        %p.price<
          From: 
          %del<
            %span.amount $1600.75
          %span.amount $938.5

      %li
        %a(href="#") 
          %img(src="images/dummy/toprated5.jpg")
          Palms love glam life
        .star-rating
          %span.star.lit
          %span.star.lit
          %span.star
          %span.star
          %span.star
        %p.price<
          From: 
          %del<
            %span.amount $160
          %span.amount $99.75