/ Start Widget Post List
%aside.widget.widget_post_list
  .widget-title
    %h5 Latest Update From Blog
  .widget-inner-container
    
    = load_widget('post_list_type_large')

/ /End Widget Post List
    