%aside.widget.widget_products_review
  .widget-title
    %h5 Products Review
  .widget-inner-container

    %ul.cart-list.product-list

      %li
        %a(href="#") 
          %img(src="images/dummy/toprated1.jpg")
          Pallagrino man casual polo shirt
        .star-rating
          %span.star.lit
          %span.star
          %span.star
          %span.star
          %span.star
        %p.reviewer
          By
          %a(href="#") Bima Arafah
      
      %li
        %a(href="#") 
          %img(src="images/dummy/toprated2.jpg")
          Sport chick in black
        .star-rating
          %span.star.lit
          %span.star.lit
          %span.star.lit
          %span.star
          %span.star
        %p.reviewer
          By
          %a(href="#") Thae Kuceng

      %li
        %a(href="#") 
          %img(src="images/dummy/toprated3.jpg")
          Creative Jobs Hiring Resume T-Shirt
        .star-rating
          %span.star.lit
          %span.star.lit
          %span.star
          %span.star
          %span.star
        %p.reviewer
          By
          %a(href="#") Messidona