%aside.widget.widget_text
  .widget-title
    %h5 About Enabl From Nesia
  .widget-inner-container
    %p<
      Enabl is a WordPress theme focused to collecting, curating, blogging, grouping |
      your portfolio content and selling stuffs. Created by Indonesian people who love |
      to create and doing amazing things. Hopefully you'll like this!
    %p<
      Copyrights 2012 All Rights. Reserved
      %br
      Powered by WordPress, naturally. A Nesia Production.