
.container
  //
     Footer Widget 
  #footer-widget.widget-area
    aside.widget.widget_text
      .widget-title
      .widget-inner-container
        p
          | Copyrights 2012 All Rights. Reserved
          br
          | Site Created by 
          a(href="http://www.elsleiman.com") Raadad Elsleiman
    //
       Start Widget Post List 
    aside.widget.widget_post_list
    //
      .widget-title
        h5 Latest Update From Blog
      .widget-inner-container
        ul.list-post-type
          li.large-post-type
            h5.title-item
              a(href='#') 450+ Photoshop action For Photo Retouching And Enhancement
            .entry-item
              p
                | Some description text will be good being placed in here. Magnificent Geometric Snow Art by Simon Beck - Artist Simon Beck must really love the cold weather! Using snow as high textures on
                | his artwork.
            .meta-item
              span.item-likes 213 Likes
              a.item-comments(href='#') 8 Comments
    //
       /End Widget Post List 
    aside.widget.widget_tweets
    //
      .widget-title
        h5 We're Tweeting Too Dude!
      .widget-inner-container
    //
       Widget Portfolio List 
    aside.widget.wsidget_flickr_list
    //
      .widget-title
        h5 Flickr Stream
      .wisdget-inner-container
  //
     /End Footer Widget Area 
  //
     Footer Navigation 
  a(href="http://elsleiman.com" ,style="margin-right:20px") Back my personal website
div#resetModal.fade.modal(tabindex="-1",role="dialog",aria-hidden="true")
  div.modal-header
    i Are you sure you want to clear all the items out of your cart?
  div.modal-footer
    button.btn(data-dismiss="modal" ,aria-hidden="true") Cancel
    a.btn.btn-primary(href="/complete") Reset Cart      