%p.facebook-share-like
  %a(class="addthis_button_facebook_like" fb:like:layout="standard" fb:like:send="true")
.addthis_toolbox.addthis_default_style
  %h6.meta-title Share This Post
  %a.addthis_button_tweet
  %a.addthis_button_google_plusone(g:plusone:size="medium")
  %a.addthis_counter.addthis_pill_style