#ads-below-content.clearfix
  %span.adspot.spot1
    %a{:href => "#"}
      %img{:src => lorem.image("260x125")}/
  %span.adspot.spot2
    %a{:href => "#"}
      %img{:src => lorem.image("260x125")}/
  %span.adsinfo
    %a{:href => "#"} Sponsored Ads
/ #ads-below-content