#author-info
  #author-title
    %span.name Marcus Njamil
    %span.post-count (have 12 posts in total)
  #author-avatar
    %img#grav-479f71ad0d4c4f72b17cffa8b28b3dbf-0.avatar.avatar-68.grav-hashed.grav-hijack{:alt => "", :height => "68", :src => "http://0.gravatar.com/avatar/479f71ad0d4c4f72b17cffa8b28b3dbf?s=68&d=retro&r=G", :width => "68"}
  / #author-avatar
  #author-description
    Just a Theme Demo user finding his way in this wild, wacky world of themes. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
    #author-link
      %a{:href => "#", :rel => "author"} View posts by Marcus Njamil
      %a{:href => "#", :rel => "author"} Visit website
      %a{:href => "#", :rel => "author"} Visit twitter
      %a{:href => "#", :rel => "author"} Visit facebook
    / #author-link
  / #author-description
/ /End of Author Info