.form_header
  %h2#comments-title 12 Awesome Comments
  %a(href="#respond") Leave Your Comments

%ul.commentlist
  
  %li.comment.even.depth-1
    .comment_wrap
      %img.avatar{ :src => lorem.image("80") }

      .comment-meta-data
        .meta_info
          .comment-author
            %cite Cassano
          %abbr.comment-time(title="January 3rd 2012") Jan 3rd, 2012
        %span.comment-reply-link
          %a.comment-reply-link(href="#") Reply

      .comment-text
        %p
          It's really hard to pry me away from Reeder. I have to wonder though how many |
          people are really on market for news reader apps. I thick it's growing but to |
          me following RSS feeds still feels like its reserved for us "in the know" or techies |
          and internet junkies. I feel like if new apps are going to venture into this space


    /* Comment Children */
    %ul.children
      %li.comment.even.depth-2
        .comment_wrap
          %img.avatar{ :src => lorem.image("80") }

          .comment-meta-data
            .meta_info
              .comment-author
                %cite Cassano
              %abbr.comment-time(title="January 3rd 2012") Jan 3rd, 2012
            %span.comment-reply-link
              %a.comment-reply-link(href="#") Reply

          .comment-text
            %p
              It's really hard to pry me away from Reeder. I have to wonder though how many |
              people are really on market for news reader apps. I thick it's growing but to |
              me following RSS feeds still feels like its reserved for us "in the know" or techies |
              and internet junkies. I feel like if new apps are going to venture into this space

  %li.comment.even.depth-1
    .comment_wrap
      %img.avatar{ :src => lorem.image("80") }

      .comment-meta-data
        .meta_info
          .comment-author
            %cite Cassano
          %abbr.comment-time(title="January 3rd 2012") Jan 3rd, 2012
        %span.comment-reply-link
          %a.comment-reply-link(href="#") Reply

      .comment-text
        %p
          It's really hard to pry me away from Reeder. I have to wonder though how many |
          people are really on market for news reader apps. I thick it's growing but to |
          me following RSS feeds still feels like its reserved for us "in the know" or techies |
          and internet junkies. I feel like if new apps are going to venture into this space
