.related-slider
  
  %article
    %img{:src => lorem.image("48")}
    .related-content
      %a.related-category(href="#") Tutorials
      %h5.related-title
        %a(href="#") New Book: Going Global with Javascript and Globalize.js
  
  %article
    %img{:src => lorem.image("48")}
    .related-content
      %a.related-category(href="#") Business
      %h5.related-title
        %a(href="#") A Tracker Music Player in Javascript

  %article
    %img{:src => lorem.image("48")}
    .related-content
      %a.related-category(href="#") Business
      %h5.related-title
        %a(href="#") A Tracker Music Player in Javascript

  %article
    %img{:src => lorem.image("48")}
    .related-content
      %a.related-category(href="#") Business
      %h5.related-title
        %a(href="#") A Tracker Music Player in Javascript