---
title: 'Shopping Cart'
body_class: 'shopping-cart page'
---

/ Start Main Container Section
%section#primary(role="primary")
  .container

    .section-title
      %h3
        %span Shopping Cart

    / Main Content
    #content(role="main")

      = partial "partials/components/cart"
              
    / /End of Main Content

/ /End Main Container Section