.post-list.blog-list

  / Blog Post Format - Gallery
  %article.post.format-gallery

    .innercontainer
      .post-header
        .entry-thumb
          %img{:src => lorem.image("670x370")}
          %img{:src => lorem.image("670x370")}
          %img{:src => lorem.image("670x370")}

      %header.entry-header
        %h2
          %a(href="#") The Creative Polaroid Camera

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Bima Arafah
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban
          %li.entry-meta-views 248 Views

      .entry-content
        %p
          Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon |
          Becj must really love the cold weather! Using snow as high textures on his artwork. Tall, upright and |
          monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first |
          hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell |
          for a $100 price tag. Almost a century later, this model remain a fullu functioning.
        %p
          %a.more-link(href="#") Continue Reading

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .post-comment
          %span.like-number 12
          %span.comment-number 6
  / /End of Blog Post Format - Gallery


  / Blog Post Format - Video
  %article.post.format-video
    .innercontainer
      .post-header
        .entry-video
          :plain
            <iframe src="http://player.vimeo.com/video/38148087?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      %header.entry-header
        %h2
          %a(href="#") Check our channel videos on Vimeo

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Nur Roni Dinnurohman
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban
          %li.entry-meta-views 248 Views

      .entry-content
        %p
          Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon |
          Becj must really love the cold weather! Using snow as high textures on his artwork. Tall, upright and |
          monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first |
          hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell |
          for a $100 price tag. Almost a century later, this model remain a fullu functioning.
        %p
          %a.more-link(href="#") Continue Reading

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .post-comment
          %span.like-number 12
          %span.comment-number 6
  / /End of Blog Post Format - Video


  / Blog Post Format - Quote
  %article.post.format-quote
    .innercontainer
      .post-header
        %blockquote<
          Sample quote from blog post that shown up on homepage. |
          Read more this detail post then you can see that there's no |
          different about it, just semantically. Carat diamond oval |
          ring for special bride on your wedding ceremony!

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Arif Widipratomo
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban
          %li.entry-meta-views 248 Views

      .entry-content
        %p
          Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon |
          Becj must really love the cold weather! Using snow as high textures on his artwork. Tall, upright and |
          monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first |
          hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell |
          for a $100 price tag. Almost a century later, this model remain a fullu functioning.
        %p
          %a.more-link(href="#") Continue Reading

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .post-comment
          %span.like-number 12
          %span.comment-number 6
  / /End of Blog Post Format - Quote


  / Blog Post Format - Image
  %article.post.format-image
    .innercontainer
      .post-header
        .entry-thumb
          %img{:src => lorem.image("670x795")}

      %header.entry-header
        %h2
          %a(href="#") Sample picture life is a beautiful ride from blog post

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Bima Arafah
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban
          %li.entry-meta-views 248 Views

      .entry-content
        %p
          Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon |
          Becj must really love the cold weather! Using snow as high textures on his artwork. Tall, upright and |
          monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first |
          hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell |
          for a $100 price tag. Almost a century later, this model remain a fullu functioning.
        %p
          %a.more-link(href="#") Continue Reading

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .post-comment
          %span.like-number 12
          %span.comment-number 6
  / /End of Blog Post Format - Image


  / Blog Post Format - Note
  %article.post.format-note
    .innercontainer
      %header.entry-header
        %h2
          %a(href="#") Sample note post from blog, useful for post announcement or notice

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Bima Arafah
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban
          %li.entry-meta-views 248 Views

      .entry-content
        %p
          Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon |
          Becj must really love the cold weather! Using snow as high textures on his artwork. Tall, upright and |
          monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first |
          hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell |
          for a $100 price tag. Almost a century later, this model remain a fullu functioning.
        %p
          Tall, upright and |
          monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first |
          hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell |
          for a $100 price tag. Almost a century later, this model remain a fullu functioning.
  / /End of Blog Post Format - Note


  / Post Blog Format - Link
  %article.post.format-link
    .innercontainer
      .post-header
        %blockquote<
          %a(href="#")
            The Newspaper Times, oldest and most completed portal |
            news in the world

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Bima Arafah
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban
          %li.entry-meta-views 248 Views

      .entry-content
        %p
          Some description text will be good being |
          placed in here. Magnificent Geometric Snow Art |
          by Simon Beck - Artist Simon Beck must really |
          love the cold weather! Using snow as high |
          textures on his artwork.

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .post-comment
          %span.like-number 12
          %span.comment-number 6
  / /End of Blog Post Format - Link


  / Post Blog Format - Aside
  %article.post.format-aside
    .innercontainer
      %header.entry-header

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Bima Arafah
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban

      .entry-content
        %p<
          It's an aside post format. You can insert your snippet |
          text within this type, simple huh? It does look good for |
          information or quick tip for your visitors. Let's rock! |
          Some description text will be good being |
          placed in here. Magnificent Geometric Snow Art |
          by Simon Beck - Artist Simon Beck must really |
          love the cold weather! Using snow as high |
          textures on his artwork.
  / /End of Blog Post Format - Aside


  / Blog Post Format - Audio
  %article.post.format-audio
    .innercontainer
      .post-header
        .audio-player-container(data-title="Nyan Cat Song" data-source="music/nyan.mp3")

      %header.entry-header
        %h2
          %a(href="#") sample audio post, it has to be responsive!

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Bima Arafah
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban
          %li.entry-meta-views 248 Views

      .entry-content
        %p
          Great song from Simon Beck, it's called Snow Art. Enjoy folks!
        %p
          %a.more-link(href="#") Continue Reading

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .post-comment
          %span.like-number 12
          %span.comment-number 6
  / /End of Blog Post Format - Audio


  / Blog Post Format - Standard without thumbnail
  %article.post.format-standard
    .innercontainer
      %header.entry-header
        %h2
          %a(href="#") Blog post with standard type format without thumbnail

      %aside.entry-meta
        %ul
          %li.entry-meta-symbol
          %li.entry-meta-author<
            By 
            %a(href="#") Bima Arafah
          %li.entry-meta-category<
            Categories: 
            %a(href="#") 1987
          %li.entry-meta-tags<
            Tags: 
            %a(href="#") creative, 
            %a(href="#") urban
          %li.entry-meta-views 248 Views

      .entry-content
        %p<
          This blog post has not thumbnail. So the format of standard blog |
          post will be like this, no image thumbnail, just the post title |
          an it's excerpt content. It looks good for blogging, for sure...
        %p
          %a.more-link(href="#") Continue Reading
      
      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .post-comment
          %span.like-number 12
          %span.comment-number 6
  / /End of Blog Post Format - Standard without thumbnail


  