/ Start Featured Category Section
.featured-category

  %article.cat-block
    %header.entry-header
      %h2 Accessories

    %img.entry-thumb{:src => lorem.image('270x180')}

    .entry-content
      .cat-title
        %h3
          %a(href="#") Accessories
      %p
        Some description text will be good being placed |
        in here. Magnificent Geometric Snow Art by |
        Simon Beck - Artist Simon Beck must really love |
        the cold weather! Using snow as high textures on |
        his artwork
      %p.entry-tag
        Related tags:  
        %a(href="#")> Dress,
        %a(href="#")> Woman,
        %a(href="#") Casual


  %article.cat-block
    %header.entry-header
      %h2 Accessories

    %img.entry-thumb{:src => lorem.image('270x180')}

    .entry-content
      .cat-title
        %h3
          %a(href="#") Accessories
      %p
        Some description text will be good being placed |
        in here. Magnificent Geometric Snow Art by |
        Simon Beck - Artist Simon Beck must really love |
        the cold weather! Using snow as high textures on |
        his artwork
      %p.entry-tag
        Related tags: 
        %a(href="#")> Dress,
        %a(href="#")> Woman,
        %a(href="#") Casual


  %article.cat-block
    %header.entry-header
      %h2 Accessories

    %img.entry-thumb{:src => lorem.image('270x180')}

    .entry-content
      .cat-title
        %h3
          %a(href="#") Accessories
      %p
        Some description text will be good being placed |
        in here. Magnificent Geometric Snow Art by |
        Simon Beck - Artist Simon Beck must really love |
        the cold weather! Using snow as high textures on |
        his artwork
      %p.entry-tag
        Related tags: 
        %a(href="#")> Dress,
        %a(href="#")> Woman,
        %a(href="#") Casual


  %article.cat-block
    %header.entry-header
      %h2 Accessories

    %img.entry-thumb{:src => lorem.image('270x180')}

    .entry-content
      .cat-title
        %h3
          %a(href="#") Accessories
      %p
        Some description text will be good being placed |
        in here. Magnificent Geometric Snow Art by |
        Simon Beck - Artist Simon Beck must really love |
        the cold weather! Using snow as high textures on |
        his artwork
      %p.entry-tag
        Related tags: 
        %a(href="#")> Dress,
        %a(href="#")> Woman,
        %a(href="#") Casual
/ /End Category Block Section