/ Features Block Section
.feature-section.widget-area

  %aside.widget
    .widget-inner-container
      %h4 Support Provided for Marketplace!
      %p
        Changed the tide for vocal cover bands, |
        making them a legitimate part of the music |
        biz. They are working on an EP, so we'll see |
        how strong their originals are.
      %a.more-link(href="#") Solve your problem

  %aside.widget
    .widget-inner-container
      %h4 Catchy Theme Panel Options
      %p
        Pierre is an odder mix than Charlie though, |
        because not only is he a great interviewer, but |
        he's also a great story teller. Remember to |
        view annotation before you misreading!
      %a.more-link(href="#") See screenshots

  %aside.widget
    .widget-inner-container
      %h4 More Options for Landing Page
      %p
        Build with design and flexibility in mind to |
        cover several options that might you need in |
        addition to make good website for your online |
        portfolio. And yes, it does e-commerce.
      %a.more-link(href="#") Another homepage

  %aside.widget
    .widget-inner-container
      %h4 Separate Blog Post and Portfolio
      %p
        Some mistakes will be made along the way. |
        That's good, 'cause at least some decisions |
        are being made along the way. That's why |
        we need customer for feedback.
      %a.more-link(href="#") See blog posts

/ /End Features Block Section