.innercontainer
  .post-header
    .entry-thumb
      %img{:src => lorem.image("670x370")}
      %img{:src => lorem.image("670x370")}
      %img{:src => lorem.image("670x370")}

  %header.entry-header
    %h2 The Creative Polaroid Camera

  %aside.entry-meta
    %ul
      %li.entry-meta-symbol
      %li.entry-meta-author<
        By 
        %a(href="#") Bima Arafah
      %li.entry-meta-category<
        Categories: 
        %a(href="#") 1987
      %li.entry-meta-tags<
        Tags: 
        %a(href="#") creative, 
        %a(href="#") urban
      %li.entry-meta-views 248 Views

  .entry-content
    :markdown
      Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon
      Becj must really love the cold weather! Using snow as high textures on his artwork. Tall, upright and
      monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first
      hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell
      for a $100 price tag. Almost a century later, this model remain a fullu functioning.

      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. [Nulla consequat massa quis enim](#). Donec pede justo, fringilla vel, aliquet. 

      ### Then why you need a device with camera, pocket or an old school camera you should buy?

      Aenean dapibus metus id lacus tincidunt pulvinar. Quisque non odio at mauris molestie iaculis. Pellentesque quis ante ac risus fermentum bibendum. Curabitur consequat turpis ac ligula blandit cursus. Mauris mi tellus, ullamcorper a pellentesque nec, porta sit amet nulla. Aenean vitae arcu lacinia lorem porttitor molestie. Nulla nunc erat, vestibulum at hendrerit sit amet, molestie at massa. Phasellus a lobortis arcu.

    .wp-caption.aligncenter
      %a(href="#")
        %img.size-full{:src => lorem.image("617x411")}
      %p.wp-caption-text
        Sample of image from flickr that needs to be in this document

    :markdown
      Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon
      Becj must really love the cold weather! Using snow as [high textures](#) on his artwork. Tall, upright and
      monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first
      hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell
      for a $100 price tag. Almost a century later, this model remain a fullu functioning.

      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. [Nulla consequat massa quis enim](#). Donec pede justo, fringilla vel, aliquet.

      #### Then why you need a device with camera, pocket or an old school camera you should buy? 

      Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon
      Becj must really love the cold weather! Using snow as [high textures](#) on his artwork. Tall, upright and
      monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first
      hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell
      for a $100 price tag. Almost a century later, this model remain a fullu functioning.

    .wp-caption.aligncenter
      %a(href="#")
        %img.size-full{:src => lorem.image("617x920")}
      %p.wp-caption-text
        Sample of image from flickr that needs to be in this document

    :markdown
      Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon
      Becj must really love the cold weather! Using snow as [high textures](#) on his artwork. Tall, upright and
      monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first
      hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell
      for a $100 price tag. Almost a century later, this model remain a fullu functioning.

      - Sample list for visual guidance
      - Etiam sit amet orci eget eros faucibus tincidunt duis leo.
      - This is multi line unordered list for sample, lorem ipsum Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      - Sed fringilia mauris sit amet nibh. Donec sodales sagittis magna.
      - Sed consqequat, leo eget bibendum sodales, augue velit cusus nunc.
      - Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      - Mollis sed, nonummy id, metus.

      Aenean dapibus metus id lacus tincidunt pulvinar. Quisque non odio at mauris molestie iaculis. Pellentesque quis ante ac risus fermentum bibendum. Curabitur consequat turpis ac ligula blandit cursus. Mauris mi tellus, ullamcorper a pellentesque nec, porta sit amet nulla. Aenean vitae arcu lacinia lorem porttitor molestie. Nulla nunc erat, vestibulum at hendrerit sit amet, molestie at massa. Phasellus a lobortis arcu.

      #### Conclusion

      Some description text will be good being placed in here. Magnificent Geometric Snow Art by Artist Simon
      Becj must really love the cold weather! Using snow as [high textures](#) on his artwork. Tall, upright and
      monstrous, the Royal Desktop Model 10 was a dystopiaan beast of industrial era engineering when it first
      hit the market 1914. Built of cast iron and equipped with glass keys, it was also the first typewrite to sell
      for a $100 price tag. Almost a century later, this model remain a fullu functioning.


  %footer.entry-meta

    - # separate this block, so we can use this block for next project easily
    = partial "partials/components/post/addthis_toolbox"
    = partial "partials/components/post/author_info"
    = partial "partials/components/post/ads"