/ Start Product List Section
.section-title
  %h3
    %span Featured Products

.post-list

  %article.product.sale
    .innercontainer
      .post-header
        .entry-thumb
          %img{:src => lorem.image('270x180')}
        
        %a.entry-link.add-to-cart(href="#") Add to cart
        %a.entry-link.more-link(href="#") See this item

      %header.entry-header
        %h2
          %a(href="#") More bigger than usual cart in the world of 3D movies

      .entry-content
        %ul.post-meta
          %li<
            From: 
            %del $90
            %span.price-tag $45
          %li<
            Categories: 
            %a(href="#") Family,
            %a(href="#") Woman

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .star-rating
          %span.star.lit
          %span.star
          %span.star
          %span.star
          %span.star


  %article.product
    .innercontainer
      .post-header
        .entry-thumb
          %img{:src => lorem.image('270x180')}
        
        %a.entry-link.add-to-cart(href="#") Add to cart
        %a.entry-link.more-link(href="#") See this item

      %header.entry-header
        %h2
          %a(href="#") More bigger than usual cart in the world of 3D movies

      .entry-content
        %ul.post-meta
          %li<
            From:
            %span.price-tag $45
          %li<
            Categories: 
            %a(href="#") Family,
            %a(href="#") Woman

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .star-rating
          %span.star.lit
          %span.star
          %span.star
          %span.star
          %span.star


  %article.product
    .innercontainer
      .post-header
        .entry-thumb
          %img{:src => lorem.image('270x180')}
        
        %a.entry-link.add-to-cart(href="#") Add to cart
        %a.entry-link.more-link(href="#") See this item

      %header.entry-header
        %h2
          %a(href="#") More bigger than usual cart in the world of 3D movies

      .entry-content
        %ul.post-meta
          %li<
            From:
            %span.price-tag $45
          %li<
            Categories: 
            %a(href="#") Family,
            %a(href="#") Woman

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .star-rating
          %span.star.lit
          %span.star
          %span.star
          %span.star
          %span.star


  %article.product
    .innercontainer
      .post-header
        .entry-thumb
          %img{:src => lorem.image('270x180')}
        
        %a.entry-link.add-to-cart(href="#") Add to cart
        %a.entry-link.more-link(href="#") See this item

      %header.entry-header
        %h2
          %a(href="#") More bigger than usual cart in the world of 3D movies

      .entry-content
        %ul.post-meta
          %li<
            From:
            %span.price-tag $45
          %li<
            Categories: 
            %a(href="#") Family,
            %a(href="#") Woman

      %footer.entry-footer
        %time.datetime(datetime="2012-04-01") About 8 hours ago
        .star-rating
          %span.star.lit
          %span.star
          %span.star
          %span.star
          %span.star


/ /End Product List Section