.related-slider
  
  %article
    %img{:src => lorem.image("48")}
    .related-content
      %h5.related-title
        %a(href="#") iPhone speaker dock
      %p.price
        From:
        %del $45
        %span.amount $12.25
  
  %article
    %img{:src => lorem.image("48")}
    .related-content
      %h5.related-title
        %a(href="#") WordPress t-shirt for your baby
      %p.price
        %span.amount $19.75

  %article
    %img{:src => lorem.image("48")}
    .related-content
      %h5.related-title
        %a(href="#") A Tracker Music Player in Javascript
      %p.price
        %span.amount $59.5

  %article
    %img{:src => lorem.image("48")}
    .related-content
      %h5.related-title
        %a(href="#") A Tracker Music Player in Javascript
      %p.price
        From:
        %del $123
        %span.amount $99.5