#related-articles

  %ul
    %li<
      %a(href="#tabrelated" title="Related Products") Related Products
    %li<
      %a(href="#tabanother" title="Another Products") Another Products

  #tabrelated
    = partial "partials/components/related_product_slider"

  #tabanother
    = partial "partials/components/related_product_slider"

/ #related-articles